// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}


@mixin Flex($justify: false, $align: false, $wrap: false, $direction: false){
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
	@if ($direction) {
		flex-direction: $direction;
	}
}

$containerWidth: 1440px;
$tabletBreakpoint: 1024px;
$tabletSmallBreakpoint: 740px;
$mobileBreakpoint: 500px;

@mixin Responsive($breakpoint){
	@media screen and (max-width: calc(#{$breakpoint} + 5px)) {
		@content;
	}
}