.top__banner {
    // height: 200px;
    background-position: center;
}

.header-information-pages {
    .veldhuizen__container {
        background-color: white;
        grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));
        padding: 2rem 4rem; 
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 17px 1px;

        h2 {
            color: $veldhuizen__groen;
        }

        @include Responsive ($tabletBreakpoint) {
            padding: 2rem;  
        }

        p {
            font-size: 0.9em;
            margin-bottom: 0;
            a {
                word-break: break-word;
            }
        }
        ul {
            margin: 0;

            li {
                font-size: 0.9em;
            }
        }

        figure {
            img {
                width: 600px;
            }
            @include Responsive ($tabletBreakpoint) {
                img {
                    width: 100%;
                }   
            }
            table {
                table-layout: fixed;
                border-collapse: collapse;
                tbody tr:nth-child(odd) {
                    background-color: $color__background-screen;
                }

                tbody tr:first-child {
                    color: $veldhuizen__groen;
                }

                tbody tr td {
                    padding: 1rem;
                }
            }
            figcaption {
                font-size: 0.8em;
            }
        }
        &--product-grid {
            h1 {
                display: none;
            }
            .product-grid-wrapper {
                #big-image {
                    display: none;
                }
                .gallery-pictures {
                    width: 30%;
                    height: auto;
                    margin-right: 5%;

                    &:nth-child(3n + 4) {
                        margin-right: 0;
                    }
                }

                @include Responsive($tabletSmallBreakpoint) {
                    .gallery-pictures {
                        width: 48%;
                        margin-right: 2% !important; // Needed so '&:nth-child' selector above doesnt overrule this line
                        &:nth-child(odd) {
                            margin-right: 0;
                        }
                    }
                }

                @include Responsive($mobileBreakpoint) {
                    .gallery-pictures {
                        width: 100%;
                    }
                }
            }
        }
    }

    .film-container-wrapper {
        .veldhuizen__container {
            grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));

            @include Responsive($tabletSmallBreakpoint) {
                grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));
                
                figure div iframe {
                    height: 200px;
                }
            }
        }
    }
}
// grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));