#home-container{
    h2 {
        font-size: 2em;
        color: $veldhuizen__groen;
    }

    .veldhuizen__container {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(calc(20% - 10px), 1fr));

        .block:hover {
            background-color: $veldhuizen__oranje;
            .block__info {
                background-color: $veldhuizen__oranje;
                h5 {
                    color: white;
                }
            }
        }
    }
    .home-text {
        width: 65%;
        margin: 0 auto;
        font-size: 1.5em;
        line-height: 1.7em;
    
        strong {
            color: $veldhuizen__groen;
        }


    }
}

// test