.news {
    width: 60%;
    margin: 0 auto;
    .article-links {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: inherit;
        }
        article {
            display: grid;
            grid-template-columns: 20% 80%; 
            // grid-template-rows: 100%;
            img {
                width: 100%;
                align-self: center;
                justify-self: center;
                // padding-right: 1rem;
            }
            .article-text-wrapper {
                margin: 1rem;
                p {
                  font-size: 0.8em;  
                }
            }
        }
    }
}

.news-article-page {
    .veldhuizen__container {
        width: 80%;
        grid-template-columns: 40% 50%;
        column-gap: 20px;

        .veldhuizen-rich-text-wrapper strong {
            color: $veldhuizen__groen;
            font-size: 1.3em;

        }

        @include Responsive($tabletBreakpoint){
            width: 90%;
            grid-template-columns: 40% 60%;
            column-gap: 10px;
            .veldhuizen-rich-text-wrapper {
                font-size: 0.9em;
            }
        }
        @include Responsive($mobileBreakpoint) {
            grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));
            .veldhuizen-rich-text-wrapper {
                font-size: 0.9em;
                strong {
                    font-size: 1.15em;
                }
            }
        }

        .veldhuizen__container--product-grid {
            .print-button {
                display: none;
            }
            h1 {
                display: none;
            }

            @include Responsive($mobileBreakpoint) {
                padding: 0;
            }
            
            
            .product-grid-wrapper {
                position: -webkit-sticky;
                position: sticky;
                width: 100%;
                top: 25vh;
                transition: top 0.1s ease-in-out;
                scroll-behavior: smooth;

                @include Responsive($mobileBreakpoint) {
                    position: initial;
                }
            }

        }
    }
}

