// PRINT LAYOUT GOES HERE
@media print {
    .no-print {
        display: none !important;
        height: 0 !important;
    }

    header {
        .header__container {
            display: block;
            position: absolute;
            top:0;
            left: 0;
            .header__left {
                width: 50%;
                #logo-print {
                    width: 5cm;
                }
            }
        }
    }

    .veldhuizen__container--product-wrapper {
        width: 100%;
        box-shadow: none;
        margin: 0;
        .veldhuizen__container--product-grid {
            h1 {
                font-size: 1.2em;
                width: 60%
            }
            .product-grid-wrapper {
               #big-image-wrapper {
                position: fixed;
                z-index: 5;
                width: 6cm;
                top: 0;
                right: 0;
               }
            }
        }
        .veldhuizen__container--product-info {
            &:before {
                width: 0;
            }
            p {
                font-size: 11px;
            }

        }
    }

    .veldhuizen__container--verhuur-wrapper {
        box-shadow: none; 
        margin: 0;
        padding: 0;
        .wp-block-cgb-block-veldhuizen-verhuur-table {
            line-height: .5em;
            padding-top: 2cm;
            font-size: 1.5em;
            p {
                line-height: 1em;
            }
        }
        .veldhuizen__container--product-grid {
            .product-grid-wrapper {
                #big-image-wrapper {
                    #big-image {
                        position: fixed;
                        z-index: 5;
                        top: 0;
                        right: 0;
                        width: 5cm;
                    }
                }
            }
        }
    }
}