.aan-af-koppelen {
	.veldhuizen__container {
		grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));

		@media screen and (max-width: 600px) {
			grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));
		}
		.service-button:hover {
			box-shadow: 2px 2px 5px rgb(194, 194, 194);
		}

	}
}

.service-pages {
	h2 {
		text-align: center;
	}
	.veldhuizen__container {
		grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));

		@media screen and (max-width: 600px) {
			grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));
		}
	}

	.reparatie-formulier {
		background-color: white;

		h2 {
			padding-top: 2rem;
		}

		form div {
			display: block;
			margin: 10px;
			padding: 10px;
		}

		.veldhuizen__container {
			grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));

			form {
                background-color:$color__background-screen;
                padding: 1.5rem;
                box-shadow: 2px 2px 7px $color__background-hr;

				@include Responsive($tabletBreakpoint) {
					display: inherit;
				}

				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				fieldset {
					margin-top: 20px;
					margin-bottom: 20px;
					border: 3px solid $veldhuizen__groen;
					min-width: 450px;
					max-width: 100%;
					flex-grow: 1;

                    @include Responsive($tabletSmallBreakpoint) {
                        width: auto;
                        min-width: 0;
                    }

					legend {
						background-color: $veldhuizen__groen;
						color: #fff;
						padding: 1rem;
					}

					// label {
					// 	// padding-top: 30px;
					// 	// padding-bottom: 10px;s
					// }

					input[type="text"],
					input[type="email"],
					input[type="number"] {
						width: 100%;
						padding: 12px 20px;
						margin: 8px 0;
						display: block;
						border: 1px solid #ccc;
						border-radius: 4px;
						// box-sizing: border-box;

						&:focus {
							background-color: $veldhuizen__groen;
							color: white;
						}
					}

					input[type="date"] {
						display: inline;
						width: 130px;
						float: right;
					}

					input[type="checkbox"] {
						display: inline;
					}

					input[type="file"] {
						width: 50%;
					}

					input[type="submit"] {
						@include Responsive($tabletBreakpoint) {
							width: 100%;
						}

						padding: 1rem;
						background-color: $veldhuizen__oranje;
						color: white;
						width: 15%;
						float: right;
						display: inline;
					}
				}

			}

		}
	}
}