.aan-af-koppelen {
	.veldhuizen__container {
		grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));

		@media screen and (max-width: 600px) {
			grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));
		}

		.service-button {
			width: 100%;

			a {
				width: 100%;
			}
		}

		.service-button:hover {
			box-shadow: 2px 2px 5px rgb(194, 194, 194);
		}

	}
}

.service-pages {
	h2 {
		text-align: center;
	}

	.veldhuizen__container {
		grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));

		@media screen and (max-width: 600px) {
			grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));
		}
	}

	.reparatie-formulier {
		background-color: white;

		h2 {
			padding-top: 2rem;
		}


		.veldhuizen__container {
			grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));

			form {
				background-color: $color__background-screen;
				padding: 1.5rem;
				box-shadow: 2px 2px 7px $color__background-hr;

				@include Responsive($tabletBreakpoint) {
					display: inherit;
				}

				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				fieldset {
					margin-top: 20px;
					margin-bottom: 20px;
					border: 0;
					min-width: 450px;
					max-width: 100%;
					flex-grow: 1;

					@include Responsive($tabletSmallBreakpoint) {
						width: auto;
						min-width: 0;
					}

					legend {
						background-color: rgb(168, 168, 168);
						color: #fff;
						padding: 10px 10px;
						width: 100%;
						margin-bottom: 15px;
					}

					// label {
					// 	// padding-top: 30px;
					// 	// padding-bottom: 10px;s
					// }

					input[type="text"],
					input[type="email"],
					input[type="number"] {
						width: 100%;
						// padding: 12px 20px;
						// margin: 8px 0;
						display: block;
						border: 1px solid #ccc;
						border-radius: 4px;
						// box-sizing: border-box;
					}

					input[type="date"] {
						width: 100%;
					}

					input[type="checkbox"] {
						display: inline;
					}

					input[type="file"] {
						width: 50%;
					}

					input[type="submit"] {
						@include Responsive($tabletBreakpoint) {
							width: 100%;
						}

						padding: 1rem;
						background-color: $veldhuizen__oranje;
						color: white;
						width: 50%;
						float: right;
						display: inline;
					}
				}

			}

		}
	}
}

.form {
	&__row {
		display: flex;
		flex-direction: column;
		margin: 0 0 10px;
		padding: 0; 
		input[type="text"],
		input[type="number"],
		input[type="date"],
		input[type="email"] {
			margin: 10px 0 0;
			width: 50%;
			padding: 10px 15px;
		}
		input[type="submit"]{
			margin-left: auto;
			padding: 1rem 1.5rem !important;
			width: 50%;

			@media screen and (max-width: $mobileBreakpoint){
				width: 100% !important;
			}
		}
		a, a:active, a:visited, a:link{
			color: $veldhuizen__groen;
			font-weight: 600;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		textarea {
			margin: 10px 0 0;
			padding: 10px 15px;
		}
		&--row{
			flex-direction: row;
			align-items: center;
			input{
				margin-right: 10px;
			}
		}
		&--double{
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			margin-bottom: 10px;
			.form__row{
				margin-bottom: 0;
				width: 27%;
				&:first-child{
				width: 70%;
				}
			}
		}
	}
}