.voorraad {
    .wp-block-cgb-block-veldhuizen-verhuur-table {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        

        #voorraad-first-table {
            table tbody tr td {
                color: $color__text-main;
            }
        }
        
        
        figure {
            width: 1400px;
            margin: 0 auto;

            table {
                table-layout: fixed;
                border-collapse: collapse;

                tbody tr:first-child {
                    color: $veldhuizen__groen;
                }

                tbody tr:nth-child(odd) {
                    background-color: $veld__grey;
                }

                tbody tr:nth-child(even) {
                    background-color: $color__background-body;
                }

                tbody tr td {
                    padding: 1.2rem;
                }
            }
        }

        @include Responsive($tabletBreakpoint) {
            figure {
                width: 100%;
                font-size: 0.8em;
                table {
                    width: 100%;
                    table-layout: fixed;
                    tbody {
                        tr {
                            td {
                                padding: 1.2rem;
                                text-align: left;
                                width: 40%;
                                height: auto;
                                overflow-wrap: break-word;
                            }
                            td + td {
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
        @include Responsive($mobileBreakpoint) {
            figure {
                font-size: 9px;
                table {
                    tbody {
                        tr {
                            td {
                                padding: 0.6rem;
                                text-align: left;
                                width: 40%;
                                height: auto;
                                overflow-wrap: break-word;
                            }
                            td + td {
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    .print-button-wrapper {
        display: none;
    }
}
.voorraad > :nth-child(even) {
    background-color: $color__background-screen;
}